# VScode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/

# Python
venv/
__pycache__/
bin/
lib/
pyvenv.cfg
/share

# Unit Tests
.pytest_cache/
.coverage
coverage.*
htmlcov/

# Qt Debug
build-*-Debug
